@use "@shared/styles/mixins.scss" as *;
@use "@shared/styles/variables" as *;

.randomHex {
    width: 100%;

    display: flex;
    align-items: stretch;
    gap: 8px;

    .input {
        flex: 0 0 50%;

        background: $dark-grey;
        border-radius: 12px;
        padding: 10px 12px;

        color: $white;
        @include font(700, 13px);
        letter-spacing: 0.04em;
    }

    .actions {
        flex: 1;

        display: flex;
        gap: 8px;

        .button {
            @include flex-center();

            flex: 1;
            min-width: 44px;

            background: $dark-grey;
            border-radius: 12px;

            cursor: pointer;
            transition: .5s;

            &:hover:not(:disabled) {
                background: #575757;
            }

            &:disabled {
                opacity: 0.4;
                cursor: not-allowed;
            }
        }
    }
}