@use "@shared/styles/mixins.scss" as *;
@use "@shared/styles/variables" as *;

.roulette_frame {
    width: 100%;
    max-width: 648px;
    height: auto;

    margin: 1rem auto;
    border-radius: 8px;

    position: relative;
    overflow: hidden;

    .center_line {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 2;

        width: 2px;
        height: 100%;

        background: rgba($yellow, 0.6);
        transform: translateX(-50%);
        pointer-events: none;
    }

    .roulette_track {
        display: flex;
        transform: translateX(0);

        :global(.slot) {
            width: 195px;
            height: 170px;

            margin: 4px;
            border-radius: 6px;

            flex-shrink: 0;

            display: flex;
            flex-direction: column;

            .image {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
                max-height: 130px;

                & img {
                    max-width: 100%;
                    max-height: 100%;

                    object-fit: contain;
                }
            }

            .name {
                @include font(800, 14px);
                color: white;
                padding: 0 4px;
                margin-top: 4px;
            }

            .price {
                @include font(800, 14px);
                color: white;
                margin-left: auto;
                padding: 0 4px;
                margin-bottom: 4px;
            }

            &.common {
                @include common();
            }

            &.uncommon {
                @include uncommon();
            }

            &.rare {
                @include rare();
            }

            &.epic {
                @include epic();
            }

            &.legendary {
                @include legendary();
            }

            &.mythic {
                @include mythic();
            }

            &.divine {
                @include divine();
            }

            &.unreal {
                @include unreal();
            }
        }
    }
}