@use "@shared/styles/mixins.scss" as *;

body {
    background: #000 !important;
}

.register_container {
    position: relative;
    height: 100dvh;
    overflow: hidden;
}

.register_step {
    position: fixed;
    left: 50%;
    top: 20px;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 700;
    color: #696969;
    transform: translate(-50%, -50%);
    z-index: 10;
    pointer-events: none;
    user-select: none;
}

.register_already {
    height: 100%;
    padding: 0 15px;
}

.register_already_title {
    color: #fff;
    @include font(700, 67px);
}

.register_already_btn {
    color: #000;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font(600, 20px);
    margin-top: 200px;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    background: #fff;
    box-shadow: 0px 0px 80px 21px rgba(255, 255, 255, 0.2);
}

.register_loading_title {
    color: #fff;
    @include font (700, 64px);
    margin-top: 50px;
}