@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Medium.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Glitch';
    src: url('../fonts/RubikGlitch-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Cyberpunk';
    src: url('../fonts/Cyberpunk.ttf');
    font-style: normal;
    font-weight: 400;
}