@use "@shared/styles/mixins.scss" as *;
@use "@shared/styles/variables" as *;

.usernameInput {
    display: flex;
    flex-direction: column;
    gap: 6px;

    width: 100%;

    @include font(600, 18px);
    background: transparent;
    color: $white;

    min-height: 60px;

    padding: 16px;
    border-radius: 16px;

    border: 2px solid $light-grey;

    &::placeholder {
        color: $light-grey;
    }
}