@import '../../style/mixins.scss';

.cheers {

    display: flex;
    align-self: center;
    justify-content: center;

    .cheers_title {
        @include font (700, 18px);
        color: #fff;
    }

}