@use "@shared/styles/mixins.scss" as *;
@use "@shared/styles/variables" as *;


.flexCont {
    display: flex;
    align-items: center;
    gap: 6px;

    min-height: 60px;

    padding: 0 5px;
    border-radius: 16px;

    border: 2px solid $light-grey;
}

.passwordInput {
    @include font(600, 18px);
    background: transparent;
    color: $white;

    width: 100%;
    padding: 16px 11px;

    &::placeholder {
        color: $light-grey;
    }
}

.showBtn {
    @include flex-center();

    padding: 3px;

    background: transparent;

    cursor: pointer;
}