@use "@shared/styles/mixins.scss" as *;
@use "@shared/styles/variables" as *;

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .content {
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 2px;

        padding: 4px;
        border-radius: 22px;

        .text {
            @include font(600, 16px);
            color: $light-grey;

        }
        .made {
            @include font(900, 14px);
            color: $white;
            margin-top: 6px;
        }
    }
}