@import '../../style/reset.scss';

@mixin font($weight, $size) {
    font-family: 'Inter';
    font-size: $size;
    font-weight: $weight;
}

.login_container {
    height: 100%;
    padding: 0 15px;
}

.login_content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.login_title {
    color: #fff;
    @include font(700, 56px);
}

.login_text {
    color: #9E9E9E;
    @include font(600, 24px);
    margin-top: 15px;
    margin-bottom: 10px;
}

.login_main_input_block {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 20px;
}

.login_btn {
    color: #000;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font(600, 20px);
    border-radius: 6px;
    margin-top: 200px;
    width: 100%;
    cursor: pointer;
    background: #fff;
    box-shadow: 0px 0px 80px 21px rgba(255, 255, 255, 0.2);
}

.login_btn_back {
    color: #fff;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font(600, 20px);
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    background: #010101;
    margin-top: 12px;
}

.login_username_input_block {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.login_username_input {
    color: #fff;
    background: transparent;
    min-height: 60px;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid white;
    @include font(600, 18px)
}

.login_password_input_block {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid white;
    border-radius: 16px;
    min-height: 60px;
    padding: 0 5px;
}

.login_password_input {
    width: 100%;
    color: #fff;
    background: transparent;
    padding: 16px 11px;
    @include font(600, 18px);
}

.login_password_input_block_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 3px;
    cursor: pointer;
}