@use "@shared/styles/mixins.scss" as *;
@use "@shared/styles/variables" as *;

.nvnt {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    min-height: 0;
    flex: 1;
    min-width: 0;

    .nvntCont {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 100%;
        min-width: 0;
    }
}