@use "@shared/styles/mixins.scss" as *;
@use "@shared/styles/variables" as *;

.card {
    position: relative;
    overflow: hidden;

    width: 100%;
    min-height: 130px;

    padding: 14px;
    background: $black;
    border-radius: 22px;

    cursor: pointer;

    border: 1px solid $black;

    .content {
        width: 100%;
        min-height: calc(130px - 28px);

        display: flex;
        justify-content: space-between;

        .info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            min-height: 100%;

            .title {
                @include font(700, 22px);
                color: $white;
            }

            .volume {
                display: flex;
                flex-direction: column;
                gap: 2px;

                span:nth-of-type(1) {
                    @include font(600, 14px);

                    width: 100%;
                    max-width: 74.8px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    padding: 4px 8px;
                    border-radius: 12px;

                    color: $green;
                    background-color: rgba($green, 0.178);
                }

                span:nth-of-type(2) {
                    @include font(600, 14px);
                    color: $raspberry;
                    margin-left: 8px;
                }
            }
        }

        .playBtn {
            @include font(600, 14px);

            width: 100%;
            max-width: 150px;
            padding: 8px 12px;
            border-radius: 12px;

            transition: .6s;

            display: flex;
            align-items: center;
            justify-content: center;

            align-self: flex-end;

            color: $black;
            background: rgba(255, 255, 255, 0.82);

            &:hover {
                background: rgba(177, 177, 177, 0.82);
            }


        }
    }


}

.card::before {
    content: "";

    position: absolute;
    inset: 0;

    pointer-events: none;
}

.card1::before {
    background: radial-gradient(circle at top right,
            rgba(255, 215, 0, 0.6) 0%,
            rgba(255, 165, 0, 0.3) 30%,
            rgba(218, 165, 32, 0.1) 60%,
            transparent 95%);
}

.card2::before {
    background: radial-gradient(circle at top right,
            rgba(255, 20, 147, 0.6) 0%,
            rgba(255, 0, 100, 0.3) 30%,
            rgba(199, 21, 133, 0.1) 60%,
            transparent 95%);
}

.card3::before {
    background: radial-gradient(circle at top right,
            rgba(0, 255, 240, 0.6) 0%,
            rgba(0, 206, 209, 0.3) 30%,
            rgba(0, 128, 128, 0.1) 60%,
            transparent 95%);
}

.card4::before {
    background: radial-gradient(circle at top right,
            rgba(157, 0, 255, 0.6) 0%,
            rgba(138, 43, 226, 0.3) 30%,
            rgba(75, 0, 130, 0.1) 60%,
            transparent 95%);
}