// rainbow
$yellow: #fce600;
$green: #29e411;

$cyan: #00b0f4;
$aqua: #00FFFF;
$blue: #0419fd;
$mint: #aade97;

$lavender: #e574f8;
$purple: #9D00FF;
$pink: #FF00FF;
$raspberry: #FF005D;
$red: #B22222;

// w \ b
$dark-grey: #141414;
$light-grey: #4d4d4d;
$black: #000;
$white: #fff;
$super-dark: #0f0f0f;


// metal
$gold: linear-gradient(45deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
$silver: linear-gradient(45deg, #9C9E9F, #F6F7F8, #A2A4A5);
$copper: linear-gradient(45deg, #804A00, #B87333, #FFDFB0, #B87333);
$titanuim: linear-gradient(135deg, #BEB7A4 0%, #D1CDC1 50%, #8E8878 100%);