@use "@shared/styles/mixins.scss" as *;

.register_username {
    height: 100%;
    padding: 0 15px;
}

.register_username_content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.register_username.disabled {
    user-select: none;
    pointer-events: none;
}

.register_username_title {
    color: #fff;
    @include font(700, 56px);
}

.register_username_title span {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(315deg, rgba(6, 182, 212, 1) 0%, rgba(0, 0, 0, 1) 33%, rgba(139, 92, 246, 1) 100%);
}

.register_username_text {
    color: #9E9E9E;
    @include font(600, 24px);
    margin-top: 15px;
    margin-bottom: 10px;
}

.register_username_hint {
    color: #4d4d4d;
    @include font(500, 18px);
    margin-top: 200px;
    margin-bottom: 6px;
}

.register_username_btn {
    color: #000;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font(600, 20px);
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    background: #fff;
    box-shadow: 0px 0px 80px 21px rgba(255, 255, 255, 0.2);
}

.register_username_btn_back {
    color: #fff;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font(600, 20px);
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    background: #010101;
    margin-top: 12px;
}

.register_username_input_block {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.register_input_count {
    color: #fff;
    @include font(600, 18px);
    margin-left: auto;
}

.register_input_count.warning {
    color: #FFC107;
}

.register_input_count.danger {
    color: #DC3545;
}

.register_username_input {
    color: #fff;
    background: transparent;
    min-height: 60px;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid white;
    @include font(600, 18px)
}

.register_username_input_status {
    color: #fff;
    @include font(600, 16px);
    margin-left: 5px;
}

.register_username_input_status.available {
    color: #32CD32;
}

.register_username_input_status.invalid {
    color: #FF1493;
}

.register_username_input_status.taken {
    color: #40E0D0;
}