@import url('../../style/mixins.scss');


@mixin font($weight, $size) {
    font-family: 'Inter';
    font-size: $size;
    font-weight: $weight;
}

.register_confirm {
    height: 100%;
    padding: 0 15px;
}

.register_confirm_content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.register_confirm.disabled {
    user-select: none;
    pointer-events: none;
}

.register_confirm_title {
    color: #fff;
    @include font(700, 56px);
}

.register_confirm_subtitle {
    margin-top: 12px;
    color: #fff;
    @include font(700, 32px);
}

.register_confirm_list {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 12px;
    color: #4d4d4d;
    @include font(700, 18px);
}

.register_confirm_list span {
    color: #fff;
}


.register_confirm_btn {
    color: #000;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font(600, 20px);
    margin-top: 200px;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    background: #fff;
    box-shadow: 0px 0px 80px 21px rgba(255, 255, 255, 0.2);
}

.register_confirm_btn_back {
    color: #fff;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font(600, 20px);
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    background: #010101;
    margin-top: 12px;
}