@import '../../style/main.scss';
@import '../../style/mixins.scss';

@keyframes shimmer {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: 200% center;
    }
}

.home {
    width: 100%;
    background: black;

    .tag_container {
        display: flex;
        align-items: center;
        gap: 6px;

        .beta {
            @include font(600, 12px);

            display: flex;
            align-items: center;
            justify-content: center;

            padding: 4px 8px;
            border-radius: 12px;

            color: rgb(252, 15, 121);
            background-color: rgba(252, 15, 121, 0.178);

            text-transform: uppercase;
        }

        .new {
            @include font(600, 12px);

            display: flex;
            align-items: center;
            justify-content: center;

            padding: 4px 8px;
            border-radius: 12px;

            color: #0419fd;
            background-color: rgba(4, 25, 253, 0.178);

            text-transform: uppercase;
        }

        .preview {
            @include font(600, 12px);

            display: flex;
            align-items: center;
            justify-content: center;

            padding: 4px 8px;
            border-radius: 12px;

            color: rgb(107, 107, 107);
            background-color: rgba(107, 107, 107, 0.178);

            text-transform: uppercase;
        }
    }

    &_main {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .main_section_title {
            max-width: fit-content;
            @include font(700, 28px);
            color: #fff;
        }

        .authorize {
            width: 100%;

            display: flex;
            gap: 20px;


            .authorize_btn {
                @include font(600, 14px);

                width: 100%;
                padding: 8px 12px;
                border-radius: 12px;

                transition: .6s;

                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;

                &.btn_register {
                    background: #0f0f0f;
                    color: #fff;
                    transition: 600ms;

                    &:hover {
                        background: #2b2b2b;
                    }
                }

                &.btn_login {
                    color: #0f0f0f;
                    background: #fff;

                    &:hover {
                        background: #b4b4b4;
                    }
                }
            }
        }

        .games {
            display: flex;
            flex-direction: column;
            gap: 20px;


            .games_cards {
                display: flex;
                flex-direction: column;
                gap: 15px;

                .games_card {
                    position: relative;
                    overflow: hidden;

                    width: 100%;
                    min-height: 130px;

                    padding: 14px;
                    background: #070707;
                    border-radius: 22px;

                    cursor: pointer;

                    border: 1px solid #1a1a1a;

                    .game_card_content {
                        width: 100%;
                        min-height: calc(130px - 28px);

                        display: flex;
                        justify-content: space-between;

                        .game_card_content_info {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            min-height: 100%;

                            .game_card_title {
                                @include font(700, 22px);
                                color: #fff;
                            }

                            .game_card_volume {
                                display: flex;
                                flex-direction: column;
                                gap: 2px;

                                span:nth-of-type(1) {
                                    @include font(600, 14px);

                                    width: 100%;
                                    max-width: 74.8px;

                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    padding: 4px 8px;
                                    border-radius: 12px;

                                    color: #29e411;
                                    background-color: rgba(17, 168, 12, 0.178);
                                }

                                span:nth-of-type(2) {
                                    @include font(600, 14px);
                                    color: #df1250;
                                    margin-left: 8px;
                                }
                            }


                        }

                        .game_card_btn {
                            @include font(600, 14px);

                            width: 100%;
                            max-width: 150px;
                            padding: 8px 12px;
                            border-radius: 12px;

                            transition: .6s;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            align-self: flex-end;

                            color: #000;
                            background: rgba(255, 255, 255, 0.82);

                            &:hover {
                                background: rgba(177, 177, 177, 0.82);
                            }


                        }
                    }


                }

                .games_card::before {
                    content: "";

                    position: absolute;
                    inset: 0;

                    pointer-events: none;
                }

                .game_card1::before {
                    background: radial-gradient(circle at top right,
                            rgba(255, 215, 0, 0.6) 0%,
                            rgba(255, 165, 0, 0.3) 30%,
                            rgba(218, 165, 32, 0.1) 60%,
                            transparent 95%);
                }

                .game_card2::before {
                    background: radial-gradient(circle at top right,
                            rgba(255, 20, 147, 0.6) 0%,
                            rgba(255, 0, 100, 0.3) 30%,
                            rgba(199, 21, 133, 0.1) 60%,
                            transparent 95%);
                }

                .game_card3::before {
                    background: radial-gradient(circle at top right,
                            rgba(0, 255, 240, 0.6) 0%,
                            rgba(0, 206, 209, 0.3) 30%,
                            rgba(0, 128, 128, 0.1) 60%,
                            transparent 95%);
                }

                .game_card4::before {
                    background: radial-gradient(circle at top right,
                            rgba(157, 0, 255, 0.6) 0%,
                            rgba(138, 43, 226, 0.3) 30%,
                            rgba(75, 0, 130, 0.1) 60%,
                            transparent 95%);
                }

            }
        }

        .bonuses {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .bonuses_card {
                width: 100%;
                padding: 14px;

                border-radius: 22px;

                background: #0f0f0f;

                .bonuses_card_content {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;

                    &.disabled {
                        user-select: none;
                        pointer-events: none;
                        filter: brightness(40%);
                    }



                    .bonuses_card_title {
                        @include font(700, 18px);
                        color: #fff;
                    }

                    .bonuses_card_btn {
                        @include font(600, 14px);

                        width: 100%;
                        padding: 8px 12px;
                        border-radius: 8px;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        transition: .6s;

                        cursor: pointer;

                        color: #000;
                        background: rgba(255, 255, 255, 0.82);

                        &:hover {
                            background: rgba(177, 177, 177, 0.82);
                        }
                    }
                }
            }
        }

        .redirect {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .redirect_items {
                display: flex;
                flex-direction: column;
                gap: 10px;

                overflow: hidden;

                .redirect_item {
                    width: 100%;
                    min-height: 50px;
                    padding: 4px 8px;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    cursor: pointer;

                    transition: .6s;

                    background: #0f0f0f;
                    border-radius: 22px;

                    span {
                        @include font(600, 14px);
                        color: #696969;

                        transition: .3s;
                    }

                    .redirect_item_title {
                        @include font (700, 18px);
                        color: #696969;

                        transition: .3s;
                    }

                    &:hover {
                        transform: translateX(10px);

                        .redirect_item span,
                        .redirect_item_title {
                            color: #8f8f8f !important;
                        }
                    }
                }
            }
        }

        .stats {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .stats_items {
                display: flex;
                flex-direction: column;
                gap: 10px;

                .stats_item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    border-radius: 22px;

                    width: 100%;
                    padding: 4px 6px;

                    transition: .6s;

                    .stats_item_left {
                        @include font (700, 14px);
                        color: #696969;
                    }

                    .stats_item_right {
                        @include font(900, 12px);

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        padding: 4px 8px;
                        border-radius: 12px;

                        color: rgb(252, 230, 0);
                        background-color: rgba(252, 230, 0, 0.178);

                    }
                }
            }
        }

        .about {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .about_content {
                width: 100%;

                display: flex;
                flex-direction: column;
                gap: 2px;

                padding: 4px;
                border-radius: 22px;



                .about_main_text {
                    @include font (600, 16px);
                    color: #696969;

                }

                .about_main_made {
                    @include font (900, 14px);
                    color: #fff;
                    margin-top: 6px;
                }
            }
        }
    }
}