@import url('../../style/mixins.scss');


@mixin font($weight, $size) {
    font-family: 'Inter';
    font-size: $size;
    font-weight: $weight;
}

.register_password {
    height: 100%;
    padding: 0 15px;
}

.register_password_content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.register_password.disabled {
    user-select: none;
    pointer-events: none;
}

.register_password_title {
    color: #fff;
    @include font(700, 56px);
}

.register_password_text {
    color: #9E9E9E;
    @include font(500, 24px);
    margin-top: 15px;
    margin-bottom: 10px;
}

.register_password_btn {
    color: #000;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font(600, 20px);
    margin-top: 200px;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    background: #fff;
    box-shadow: 0px 0px 80px 21px rgba(255, 255, 255, 0.2);
}

.register_password_btn_back {
    color: #fff;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include font(600, 20px);
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    background: #010101;
    margin-top: 12px;
}

.register_password_input_block {
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid white;
    border-radius: 16px;
    min-height: 60px;
    padding: 0 5px;
}

.register_password_input_block_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 3px;
    cursor: pointer;
}

.register_password_input {
    width: 100%;
    color: #fff;
    background: transparent;
    padding: 16px 11px;
    @include font(600, 18px);
}

.register_password_input_status_block {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #4d4d4d;
    @include font(600, 16px);
    margin-left: 5px;
    margin-top: 5px;
}

.register_password_input_status.weak {
    color: #00BFFF;
}

.register_password_input_status.medium {
    color: #FF00FF;
}

.register_password_input_status.strong {
    color: #F0E68C;
}