.cases_page {
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.801);


  .cases_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0 10px;
    margin-top: 30px;

    .case_card {
      width: 100%;
      padding: 15px;
      min-height: 250px;
      border-radius: 15px;
      cursor: pointer;
      position: relative;
      overflow: hidden;

      &:hover {
        .case_card_bg {
          background: rgba(129, 129, 129, 0.753);
        }
      }

      &_bg {
        transition: .5s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        background: rgba(68, 68, 68, 0.897);
        z-index: -1;
      }

      &_content {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;


        &_name {
          font-family: 'Rubik';
          font-size: 22px;
          color: white;
          text-align: center;
        }

        &_image {
          height: 150px;
          border-radius: 15px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;

          & img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain; // для 
            display: block;
          }
        }

        &_price {
          display: flex;
          align-items: center;
          gap: 5px;
          margin: 0 auto;

          span:first-child {
            font-family: 'Rubik';
            font-size: 16px;
            color: #007BFF;
            background-color: rgba(0, 123, 255, 0.1);
            padding: 6px;
            border-radius: 50%;
            display: inline-block;
          }

          span:last-child {
            font-family: 'Rubik';
            font-size: 16px;
            color: #FFEe8c;
          }
        }
      }
    }
  }

}